/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 jun 2024, 20:09:37
    Author     : majemase
*/

.bg-fondo {
    background-color: #c8e0ec;
}

.bg-azul-oscuro {
    background-color: #0766ff;
}

.text-azul{
    color: #004588;
}

#tablaTareas thead, #tablaTareas tfoot {
    background-color: #004588 !important;
    color: white !important;
}

.dropdown-menu .dropdown-item.text-white:hover {
    background-color: #004588 !important;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

html {
    font-family: 'Poppins', sans-serif;
}